
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Şehir Adını Girinzi</h1>
<form method="post">
<input type="text" class="form-control"name="p" />
<br />
<button class="btn btn-outline-primary">Şehir Getir</button>
</form>