@model IEnumerable<BookingHotelSearchViewModel.Result>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count =0;
    double score;
    string scoreWord;
}

<h1>BOOKİNG  OTEL REZERVASYON SAYFASI</h1>

<h3>ARAMA YAPILAN ŞEHİR :PARİS /FRANSA</h3>

<table class="table-table-striped ">
    <tr>
        <th>#</th>
        <th>OTEL ADI</th>
        <th>OTEL PUANI</th>
        <th>OTEL DEĞENLENDİRME</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.hotel_name</td>
            @{score=double.Parse(item.review_score.ToString())/10;}
            <td>@score</td>
            @{
                if(item.review_score_word=="Very good")
                {
                    <td>Çok iyi</td>
                }
                if (item.review_score_word=="Good")
                {
                    <td> İyi</td>
                }
                if (item.review_score_word=="Fabulous")
                {
                    <td>Harika</td>
                }
                if (item.review_score_word == "Pleasant")
                {
                    <td>Güzel</td>
                }
                if(item.review_score_word=="Superb")
                {
                    <td>Süper</td>
                }
            }
            <td>@item.review_score_word</td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }

</table>