
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>PDF RAPORLARI SAYFASI</h2>
<a href="/PdfReport/StaticPdfReport"class="btn btn-outline-primary">Statik Pdf Raporu</a>
<a href="/PdfReport/StaticCustomerPdfReport" class="btn btn-outline-primary">Statik Customer Pdf Raporu</a>


