@model CreateDestinationCommand
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Tur Rotası Ekleme Sayfası</h2>
<form method="post">
    <label>ŞEHİR ADI</label>
    <input type="text"asp-for="City"class="form-control" />
    <br />
    <label>GÜN GECE</label>
    <input type="text" asp-for="DayNight" class="form-control" />
    <br />
    <label>FİYAT</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
     <label>KAPASİTE</label>
    <input type="text" asp-for="Capacity" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Tur Rotası Ekleme Kaydet</button>
</form>


