@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css"rel="stylesheet" />
<div class="container">
<h2>ŞİFRE YENİLEME SAYFASI</h2>
<form method="post">
    <label>Mail Adresini Giriniz</label>
    <input type="text"class="form-control"asp-for="Mail" />
    <br />
    <button class="btn btn-primary ">ŞİFRE YENİLEME LİNKİ GÖNDER</button>
</form>
</div>