@model ResetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <h2>ŞİFRE YENİLEME SAYFASI</h2>
    <form method="post">
        <label>Şifrenizi Giriniz</label>
        <label>Mail Adresini Giriniz</label>
        <input type="text" class="form-control" asp-for="Password" />
        <br />
        <label>Şifrenizi Tekrar Giriniz</label>
        <label>Mail Adresini Giriniz</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <br />
        <button class="btn btn-primary ">ŞİFRE  GÜncelle</button>
    </form>
</div>
